<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <title>Chat Rooms</title>
</head>
<body>
    What chat room would you like to enter or create?<br>
    <input id="room-name-input" type="text" size="100"><br>
    <input id="room-name-submit" type="button" value="Enter">

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
    <h1>Chat Rooms</h1>
    {% if latest_room_list %}
    <ul>
    {% for room in latest_room_list %}
        <li><a href="/chat/{{ room.room_name }}/">{{ room.user}} joined {{ room.room_name}} at {{ room.created_on}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No rooms are active. Enter the title of a room you would like to start in the above!</p>
{% endif %}
</body>
</html>
